<template>
  <require from="bootstrap/dist/css/bootstrap.min.css"></require>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand">Standard20</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark">Persons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark">Contact
                types</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      <router-view></router-view>
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2019 - Standard20
    </div>
  </footer>
</template>
