@model Domain.Contact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactType.ContactTypeValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
